.MuiButton-root {
  &.small {
    height: 35px;
    padding: 0 14px;
    border: 1px solid #00398f;
    border-radius: 5px;
    text-transform: initial;
    color: color("primary", "primary");
    font-family: "Lato", sans-serif !important;
    font-size: 18px;
    line-height: 22px;
    // &:hover {
    //   border: 2px solid #00398f;
    // }
  }
  &.medium {
    font-size: 18px;
    line-height: 24px;
    height: 48px;
    color: color("secondary", "base");
    text-transform: capitalize;
    &:hover {
      background-color: none !important;
    }
  }
  &.MuiButtonBase-root {
    font-family: 'Roboto', sans-serif;
    // background-color: rgba(0, 36, 130, 1);
    &.button-text {
      text-transform: inherit;
    }
  }
  &.MuiButton {
    &-outlined {
      border-radius: 10px;
    }
    &-contained {
      &.pay-button{
        background-color: rgba(0, 36, 130, 1);
      }
      // background: color("secondary", "secondary");
      height: 48px;
      // display: flex;
      // color: color("White", "White");
      // align-items: center;
      border: none;
      text-transform: none;
      font-size: 18px;
      padding: 0px 36px;
      // border: 1px solid #004e49;
      border-radius: 10px;
    
      // &:hover {
      //   background: color("secondary", "secondary");
      // }
    }
  }
}
