.categry-sec-wrapper {
  .categories-main-img{
    padding-bottom: 16px;
  }
  .categry-sec-img{
     max-width: calc(50% - 12px);
  }

  .categry-sec-women-img{
    max-width: calc(50% - 12px);
    margin-left: 24px;
  }
  .categories-wrapper {
    height: 686px;
    margin-top: 27px;
  }
  margin-top: 80px;
  .categry-sec-heading {
    font-family: "Libre Baskerville", serif;
    font-size: 36px;
    line-height: 45px;
    color: #272727;
    // font-weight: 700px;
  }
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    // border-radius: 10px;
  }
}

// max-width: calc(50% - 12px);


// sectionCoustmer style
.testimonial-slider {
  img {
    height: 100px;
    width: 100px;
  }
}