$primary: (
  "primary": #272727,
);

$secondary: (
  "secondary": #002482,
  "base":#00398F,

);

$White: (
  "White": #ffffff,
);

$black: (
  "darken": #050505,
  "base":#282c3f,
);

$brown:(
  "light": #848484,
  "lighten-1":#535766,
  "lighten-2":#535766,
  "lighten-3":#585858,
  "lighten-4":#6c6c6c,
  "lighten-5":#828282,
  
);

$grey:(
  "base": #6D6D6D,
  "lighten-1":#939393,
  "lighten-2":#636363,
  "lighten-3":#848484,
  "lighten-4":#94969f,
);

// to avoid to repeating map-get($colors, ...)
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "White": $White,
  "black": $black,
  "grey": $grey, 
  "brown":$brown,
 ) !default;

@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type== "base" {
      .#{$color_name} {
        background-color: $color_value !important;
      }

      .#{$color_name}-text {
        color: $color_value !important;
      }
    } @else if $color_name != "shades" {
      .#{$color_name}.#{$color_type} {
        background-color: $color_value !important;
      }

      .#{$color_name}-text.text-#{$color_type} {
        color: $color_value !important;
      }
    }
  }
}

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);

    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }

  @return null;
}
