* {
  box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 ,
hr {
  margin: 0;
}


hr{
  border-bottom: 0;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

$spacing: 4px;

@for $i from 0 through 22 {
  .mt-#{$i} {
    margin-top: $i * $spacing !important;
  }

  .mr-#{$i} {
    margin-right: $i * $spacing !important;
  }

  .mb-#{$i} {
    margin-bottom: $i * $spacing !important;
  }

  .ml-#{$i} {
    margin-left: $i * $spacing !important;
  }

  .my-#{$i} {
    margin-top: $i * $spacing !important;
    margin-bottom: $i * $spacing !important;
  }

  .mx-#{$i} {
    margin-right: $i * $spacing !important;
    margin-left: $i * $spacing !important;
  }

  .ml-n-#{$i} {
    margin-left: -$i * $spacing !important;
  }
  .m-#{$i} {
    margin: $i * $spacing !important;
  }
}

// Padding Loop
@for $i from 0 through 22 {
  .p-#{$i} {
    padding: $i * $spacing !important;
  }

  .pt-#{$i} {
    padding-top: $i * $spacing !important;
  }

  .pr-#{$i} {
    padding-right: $i * $spacing !important;
  }

  .pb-#{$i} {
    padding-bottom: $i * $spacing !important;
  }

  .pl-#{$i} {
    padding-left: $i * $spacing !important;
  }

  .py-#{$i} {
    padding-top: $i * $spacing !important;
    padding-bottom: $i * $spacing !important;
  }

  .px-#{$i} {
    padding-right: $i * $spacing !important;
    padding-left: $i * $spacing !important;
  }
}

p {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
  display: flex;
}

.baseline{
  display: flex;
  align-items: baseline;
}

.align-items {
  display: flex;
  align-items: center;
}

.justify-around {
  display: flex;
  justify-content: space-around;
}

.justify-between{
  justify-content: space-between;
  display: flex;
}

.display {
  display: inline-block;
}

.display-block{
  display: block;
}

.text-end{
text-align: end
}

.display-end {
  display: flex;
  justify-content: end;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}
.height-100 {
  height: 100%;
}
.height-50 {
  height: 50%;
}


.width-28 {
  width: 28%;
}

.width-100{
  width: 100%;
}

.width-50{
  width: 50%;
}
 
.height-52{
  height: 52px;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

input {
  background-color: none !important;
}

.text-decoration-line {
  text-decoration-line: line-through;
}
