body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// @font-face {
//   font-family: "LibreBaskerVille";
//   src: url("/src/Fonts/libre-baskerville/LibreBaskerville-Bold.Woff")
//     format("webOpenFont");
//   font-weight: bold;
// }

// .font-face-lb {
//   font-family: "libre-baskerville";
// }

