@import "components/custom";
@import "components/variables";
@import "components/mixins";
@import "components/global";
@import "components/color";
@import "components/Pages/CategoriesSection";
@import "components/button";
@import "components/Pages/ProductDetails";
@import "components/typography";
@import "components/Pages/WithoutFilterPage";
@import "components/dropdown";
@import "components/pages/Wishlist";
@import "components/mat";
@import "components/FilterBox";
@import "components/Pages/order";

@import "components/Pages/Payment";
@import "components/Pages/HomePage";
@import "components/Pages/ErrorPage";
@import "components/Pages/responsiveness";
@import "components/Pages/Contact";

.dropdown {
  #demo-select-small.MuiSelect-select.MuiSelect-select.MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputSizeSmall {
    padding: 4px 14px !important;
    height: 20px !important;
    font-size: 14px !important;
    min-height: 20px;
    height: 20px;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 700;
  }
}

.price-style {
  border-bottom: 1px solid #eaeaec;
}

.link-info:hover {
  color: rgb(0, 36, 130);
}

.address-wrapper {
  max-width: 1523px;
  .price {
    max-width: 400px;
    width: 100%;
  }
}

.address-style {
  width: 764px;
}

.pay-button {
  // padding: 0px 33px;
  padding: 7px 41px;
  font-family: "Lato", sans-serif !important;
  font-size: 18px;
  color: #eaeaec;
  background-color: rgba(0, 36, 130, 1);
  border-radius: 8px;
}
.form-box{
  .submit-button{
    button{
      background-color: rgba(0, 36, 130, 1);
    }

  }
}


// succesffuly payment css
.card{
  img{
    height: 163px;
  }
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #C8D0D8;
  display: inline-block;
  margin: 0 auto;
  i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
  }
  .heading{
    color: #3affae;
    font-family: "Lato", sans-serif !important;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }
  .info{
    color: #404F5E;
    font-family: "Lato", sans-serif !important;
    font-size: 20px;
    margin: 0;
  }
}