
// @import "components/fonts";
@import "components/custom";
@import "components/variables";
@import "components/mixins";
@import "components/global";
@import "components/color";
@import "components/Pages/CategoriesSection";
@import "components/button";
@import "components/Pages/ProductDetails";
@import "components/typography";
@import "components/Pages/WithoutFilterPage";
@import "components/dropdown";
@import "components/pages/Wishlist";
@import "components/mat";
@import "components/FilterBox";
@import "components/Pages/order";
@import "components/Pages//PaymentPage";
@import "components/Pages/Payment";



.dropdown {
    #demo-select-small.MuiSelect-select.MuiSelect-select.MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputSizeSmall {
      /* FONT-VARIANT: JIS04; */
      padding: 4px 14px !important;
      height: 20px !important;
      font-size: 14px !important;
  
      min-height: 20px;
      height: 20px;
      padding: 0 12px;
      font-size: 14px;
      font-weight: 700;
    }
  }