.error-page {
  .error-img {
    
  }

  gap: 112px;

  .error-content {
    color: color("black", "darken");
    font-size: 64px;
    font-weight: 700;
    .heading {
      font-weight: 400;
    }
  }
}
