.MuiFormControl-root.form-control {
  width: 100px;
}

.MuiFormLabel-root.MuiInputLabel-root.label-text {
  position: relative;
  top: 13px;

  color: color("black", "base");
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.list {
  &.MuiOutlinedInput-root.MuiInputBase-colorPrimary {
    border-radius: 3px;
    background-color: rgba(148, 150, 159, 1);
  }
  .MuiInputBase-input.MuiOutlinedInput-input {
    padding: 8px;
  }
}

.dropdown {
  gap: 12px;
}

.dropdown {
  #demo-select-small.MuiSelect-select.MuiSelect-select.MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputSizeSmall {
    padding: 0px 14px !important;
    height: 20px !important;
    font-size: 14px !important;
    min-height: 20px;
    height: 20px;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 700;
  }
}

.data {
  color: color("black", "base");
  line-height: 16px;
  .brand-title {
    font-size: 18px;
    font-weight: 700;
  }
  .info {
    color: color("grey", "lighten-4"); // grey color
    font-size: 14px;
    line-height: 17px;
    margin-top: 2px;
  }
  .description {
    font-weight: 400;
  }
}

.subheading {
  span {
    color: color("brown", "lighten-1");
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;

    &.heading {
      margin-left: 25px;
    }
    p {
      margin-right: 25px;
    }

    &.line {
      border-right: 1px solid #eaeaec !important;
      height: 32px;
    }
  }
}

.content-payment {
  margin-top: 31px;
  border-radius: 4px;
  padding: 13px 19px 24px 13px !important;
  border: 1px solid #eaeaec;
  background-color: color("white", " white");
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

  .content-img {
    position: relative;
    .left-image {
      width: 111px !important;
      height: 148px !important;
      border-radius: 0 !important;
      object-fit: cover !important;
    }
    .MuiBox-root {
      position: absolute;
      margin-left: 0;
      top: -6px;
    }
  }
}

.form-label {
  // width: 823px;
  justify-content: space-between;
}

.MuiFilledInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-sizeSmall {
  width: 90px;
  &::before {
    border-bottom: 0;
  }
}

.MuiCheckbox-root.MuiCheckbox-colorPrimary.PrivateSwitchBase-root.MuiCheckbox-root {
  color: color("primary", "primary"); //272727
}
.MuiButtonBase-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-root {
  // color: #272727;
  color: color("primary", "primary");
}

.MuiFormControl-root.MuiFormControl-root {
  margin: 0;
}

// place order css start here
.detail-wrapper {

  // width: 320px;
  .heading {
    color: color("brown", "lighten-2"); //brown
    font-size: 18px;
    line-height: 17px;
  }
  .amount {
    span {
      color: #282c3f;
      font-size: 16px;
      line-height: 16px;
      &.light {
        color: #03a685;
      }
    }
  }
  .text {
    color: #3e4152;
    font-size: 15px;

    font-weight: 700;
    line-height: 16px;
  }
}

.address-wrapper {
  margin-top: 80px;
  max-width: 1223px;
  gap: 61px;

  .address {
    .address-button {
      min-width: 241px;
      // padding: 24px;
    }
    color: #282c3f;
    gap: 36px;
    max-width: 100%;
    margin-bottom: 37px;
    border-radius: 4px;
    border: 1px solid #bababa;
    padding: 17px;

    span {
      font-size: 18px;
      line-height: 20px;
      .dark {
        font-weight: 700;
      }
    }
    p {
      font-size: 14px;
      line-height: 15px;
    }
  }
}

.MuiFormControlLabel-root .MuiFormControlLabel-label {
  color: color("black", "base");
  font-size: 18px !important;
  font-weight: 700;
  line-height: 15px;
  font-weight: 400;
}

.number-wrapper {
  .number {
    display: flex;
    align-items: baseline;
    margin-right: 7px;
    img {
      width: 8px;
      height: 9px;
    }
    span {
      color: color("black", "base");
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      &.text {
        color: #94969f;
        text-decoration: line-through;
      }
    }
  }
  .benifit {
    color: #f16565;
    margin-left: 7px;
  }
}

.frame-wrapper {
  margin-top: 10px;
  gap: 6px;
  span {
    color: #282c3f;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
  }
}

.MuiFormControlLabel-labelPlacementEnd.MuiFormControlLabel-root {
  margin-left: -4px;
}

// css related to form
.input-box {
  gap: 24px;
  .MuiFormControl-root.MuiTextField-root {
    display: block;
    margin-top: 8px;
  }
  .MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl {
    width: 100%;
    height: 42px;
    padding: 9px 12px;
    border: 1px solid rgba(60, 66, 87, 0.12);
  }
}

.user-name {
  font-size: 15px;
  color: color("brown", "lighten-3");
  font-weight: 700;
}
.form-box {
  border-left: 1px solid rgba(234, 234, 236, 1);
  padding: 20px;

  .submit-button {
    display: flex;
    justify-content: end;
  }
  .label-box {
    gap: 20px;
    .form-button {
      height: 42px;
      padding: 9px 12px;
      border: 1px solid rgba(60, 66, 87, 0.12);
      color: color("primary", "primary");
      font-size: 18px;
    }
    .box {
      height: 42px;
      padding: 9px 12px;
      border: 1px solid rgba(60, 66, 87, 0.12);
      background: none;
    }
  }
  .text-wrapper {
    gap: 24px;
  }
  max-width: 557px;
  .form-heading {
    font-size: 20px;
    color: color("brown", "lighten-3");
    font-weight: 400;
  }
}

// form payment

.payment-wrapper {
  gap: 60px;
  margin-top: 80px;
}

// card payment css start here
.card-payment {
  .date-wrappper {
    display: flex;
    gap: 34px;
  }
  .small-icon {
    display: flex;
    gap: 5px;
  }
  max-width: 557px;
  padding: 20px;
  .heading {
    color: color("brown", "lighten-3");
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }
  .subheading {
    color: color("brown", "lighten-4");

    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.5px;
    span {
      text-transform: capitalize;
    }
    .type {
      color: rgba(88, 88, 88, 0.8);
      font-size: 13px;
    }
  }
  .payment-button {
    .display-button {
      padding: 0px 43px;
      background: none;
      border: 1px solid rgba(0, 36, 130, 1);
      color: color("black", "base");
    }

   
  }
}


.pay-button {
  padding: 0px 33px;
  background-color: rgba(0, 36, 130, 1);
}

