.MuiFormControl-root.form-control {
  width: 100px;
}

.MuiFormLabel-root.MuiInputLabel-root.label-text {
  position: relative;
  top: 13px;
  // color: #282c3f;
  color: color("black", "base");
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.list {
  &.MuiOutlinedInput-root.MuiInputBase-colorPrimary {
    border-radius: 3px;
    background-color: rgba(148, 150, 159, 1);
  }
  .MuiInputBase-input.MuiOutlinedInput-input {
    padding: 8px;
  }
}

// .content-payment {
//   margin-top: 31px;
//   border-radius: 4px;
//   padding: 13px 19px 4px 2px;
//   border: 1px solid #eaeaec;
//   background-color: color("white", " white");
//   width: 593px;
//   .content-img {
//     .left-image {
//       width: 111px;
//       height: 148px;
//       border-radius: 0;
//       object-fit: cover;
//     }
//     .MuiBox-root {
//       position: absolute;
//       margin-left: 0;
//     }
//   }
// }

// .MuiFormControlLabel-root .MuiFormControlLabel-label {
//   color: color("black", "base");
//   font-size: 18px;
//   font-weight: 700;
//   line-height: 15px;
// }

// .subheading {
//   span {
//     color: color("brown", "lighten-1");
//     font-size: 12px;
//     font-weight: 700;
//     line-height: 15px;
//     text-transform: uppercase;

//     &.heading {
//       margin-left: 25px;
//     }
//     p {
//       margin-right: 25px;
//     }

//     &.line {
//       border-right: 3px solid #eaeaec;
//     }
//   }
// }

.dropdown {
  gap: 12px;
}

// .number-wrapper {
//   .number {
//     display: flex;
//     align-items: baseline;
//     margin-right: 7px;
//     img {
//       width: 8px;
//       height: 9px;
//     }
//     span {
//       color: color("black", "base");
//       font-size: 14px;
//       font-weight: 700;
//       line-height: 20px;
//       &.text {
//         color: #94969f;
//         text-decoration: line-through;
//       }
//     }
//   }
//   .benifit {
//     color: #f16565;
//     margin-left: 7px;
//   }
// }

// .frame-wrapper {
//   margin-top: 10px;
//   gap: 6px;
//   span {
//     color: #282c3f;
//     font-size: 12px;
//     font-weight: 700;
//     line-height: 17px;
//   }
// }

// .form-label {
//   width: 592px;
//   padding-left: 18px;
//   justify-content: space-between;
// }

.dropdown {
  #demo-select-small.MuiSelect-select.MuiSelect-select.MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputSizeSmall {
    /* FONT-VARIANT: JIS04; */
    padding: 0px 14px !important;
    height: 20px !important;
    font-size: 14px !important;
    min-height: 20px;
    height: 20px;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 700;
  }
}




// .dropdown {
//   #demo-select-small.MuiSelect-select.MuiSelect-select.MuiSelect-filled.MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputSizeSmall {
//     /* FONT-VARIANT: JIS04; */
//     padding: 0px 14px !important;
//     height: 20px !important;
//     font-size: 14px !important;

//     min-height: 20px;
//     height: 20px;
//     padding: 0 12px;
//     font-size: 14px;
//     font-weight: 700;
//   }
// }
