.filter-sec-wrapper {
  min-height: calc(100vh - 550px) !important;
  .content-wrapper {
    padding-top: 56px;
    &.text {
      padding: 0;
    }

    .filter-subheading {
      gap: 49px;
      .icon-wrapper {
        gap: 15px;
        span {
          font-size: 24px;
          line-height: 30px;
          color: color("primary", "primary");
        }
        .icon-tune {
          color: color("brown", "light");
          font-size: 29px;
        }
      }
    }
  }
}

.wishlist-wrapper{
  .WishList-content{
      margin-top: 26px;
      &.card{
          margin-top: 52px;
      }
  }
  .heading{
      font-size: 36px;
      line-height: 48px;
      color: $primary-text-color;
      margin-top: 56px;
      // font-family: 'Playfair Display', serif;

      &.text{
        color: $text-blue;
      }
  }
}